In [1]:
# pip install random-address
# pip install pandas

import pandas as pd
import random_address

from random_address import real_random_address

add_dict = real_random_address()
pd.json_normalize(add_dict) # create data frame from .json format

,address1,address2,city,state,postalCode,coordinates.lat,coordinates.lng
0,396 Hartford Road,B,Manchester,CT,06040,41.7642,-72.538522

In [62]:
# Generate a dictionary with valid random address information
random_address.real_random_address()

{'address1': '5856 Parfet Court',
 'address2': '',
 'city': 'Arvada',
 'state': 'CO',
 'postalCode': '80004',
 'coordinates': {'lat': 39.80326, 'lng': -105.121486}}

In [63]:
random_address.real_random_address()

{'address1': '310 12th Avenue',
 'address2': '',
 'city': 'Santa Cruz',
 'state': 'CA',
 'postalCode': '95062',
 'coordinates': {'lat': 36.963154, 'lng': -121.994045}}

In [2]:
def create_random_address_us():
    
    add_dict = real_random_address()
    add_df = pd.json_normalize(add_dict)
    
    return (add_df)

In [14]:
df= pd.DataFrame({'address1': [],
                 'address2': [],
                 'city': [],
                 'state': [],
                 'postalCode': [],
                 'coordinates.lat': [],
                 'coordinates.lng': []
                 })

In [15]:
#df= pd.DataFrame({'Table of 9': [9,18,27],
#        'Table of 10': [10,20,30]})

In [19]:
df

Empty DataFrame
Columns: [address1, address2, city, state, postalCode, coordinates.lat, coordinates.lng]
Index: []

In [22]:
df = []
for i in range(5):
    data = create_random_address_us()
    # store DataFrame in list
    df.append(df)

In [24]:
df

[[...], [...], [...], [...], [...]]

In [ ]:
rows = []

In [21]:
for i in range(4,11):
    # df=df.append({'Table of 9':i*9,'Table of 10':i*10},ignore_index=True)
    df = pd.concat([df, pd.DataFrame(rows)], axis=0, ignore_index=True)

NameError: name 'rows' is not defined

In [ ]:
df

In [ ]:
df=pd.DataFrame()
for infile in glob.glob("*.xlsx"):
    data = pandas.read_excel(infile)
    data_you_need=data_you_need.append(data,ignore_index=True)

In [ ]:
appended_data.to_csv('random_addresses_us.csv')

In [ ]:
pd.DataFrame(appended_data)

In [ ]:
type(appended_data)

In [ ]:
appended_data

In [39]:
add_col_names = ['address1',
'address2',
'city',
'state',
'postalCode',
'coordinates.lat',
'coordinates.lng']

In [25]:
appended_data = []
for i in range(5):
    data = create_random_address_us()
    # store DataFrame in list
    appended_data.append(data)

In [26]:
appended_data

[            address1 address2        city state postalCode  coordinates.lat  \
 0  52 Linnmore Drive           Manchester    CT      06040          41.7772

    coordinates.lng
 0       -72.546698  ,
                address1 address2         city state postalCode  \
 0  105 Ridgecrest Court           Panama City    FL      32405

    coordinates.lat  coordinates.lng
 0        30.198864        -85.66109  ,
          address1 address2       city state postalCode  coordinates.lat  \
 0  1404 James Way           Edgewater    MD      21037        38.887964

    coordinates.lng
 0       -76.510093  ,
               address1 address2       city state postalCode  coordinates.lat  \
 0  31 Hills Point Road           Charlotte    VT      05445        44.335754

    coordinates.lng
 0       -73.280121  ,
                address1 address2        city state postalCode  \
 0  3819 Vineyard Avenue      #59  Pleasanton    CA      94566

    coordinates.lat  coordinates.lng
 0        37.663149      -121.862728  ]

In [41]:
#pd.DataFrame(appended_data[1:2],columns=appended_data[0])
pd.DataFrame(appended_data, columns=add_col_names).explode('Item', ignore_index=True)

ValueError: Must pass 2-d input. shape=(5, 1, 7)

In [43]:
pd.DataFrame(appended_data.tolist(), columns=appended_data)
#pd.DataFrame(appended_data)

AttributeError: 'list' object has no attribute 'tolist'

In [65]:
df= pd.DataFrame({'address1': [],
                 'address2': [],
                 'city': [],
                 'state': [],
                 'postalCode': [],
                 'coordinates.lat': [],
                 'coordinates.lng': []
                 })

In [70]:
 for df in 1:

        if not os.path.isfile("random_us_addresses.csv"):
            df.to_csv(filename, header='column_names', index=False)
        else:  # else it exists so append without writing the header
            df.to_csv(filename, mode='a', header=False, index=False)

TypeError: 'int' object is not iterable

In [84]:
os.getcwd()

'C:\\Users\\alexz\\OneDrive\\Documents\\AGCS'

In [85]:
os.chdir('C:/Users/alexz/OneDrive/Documents/AGCS/Data')

In [86]:
import os
filename = "random_us_addresses.csv"
if not os.path.isfile(filename):
    df.to_csv(filename, header='column_names', index=False)
else:  # else it exists so append without writing the header
    df.to_csv(filename, mode='a', header=False, index=False)

In [ ]:
for i in range(5):
    address_data = create_random_address_us()
    # store DataFrame in list
    address_data.to_csv(filename, mode='a', header=False, index=False)

In [59]:
import argparse
parser = argparse.ArgumentParser(description='Script so useful.')
parser.add_argument("--opt1")

_StoreAction(option_strings=['--opt1'], dest='opt1', nargs=None, const=None, default=None, type=None, choices=None, required=False, help=None, metavar=None)

In [79]:
filename

'random_us_addresses.csv'